$font-family-roboto: Roboto,
-apple-system,
BlinkMacSystem,
"Segoe UI",
Oxygen,
Ubuntu,
Cantarell,
"Open Sans",
"Helvetica Neue",
sans-serif;
$font-family-opensans: "Open Sans",
sans-serif;

$color-orange1: #f8a32c;
$color-blue1: #0097a2;
$color-grey1: #000000;
$color-grey0: #FFFFFF;
$color-red1: #ec520c;
$color-violet1: #4a154b;
$color-green1: #005240;
$color-yellow1: #ecb22e;

body {
      font-family: $font-family-roboto;
      margin: 0;
      padding: 0;
      background-color: $color-grey0;
      color: $color-grey1;
      display: flex;
      flex-direction: column;
      align-items: center;
}



img {
      max-width: 100%;
      height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      white-space: nowrap;
      clip-path: inset(100%);
      clip: rect(0 0 0 0);
      overflow: hidden;
}